@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Suzanne's Super Awesome Epic Insurance</h1>
    <p class="lead">We will give you free pizza and beer if you sign up for our insurance!</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

